.modal {
    overflow: hidden !important;
    border: 0px solid black;

    &-dialog {
        max-width: 60% !important;
        height: 100vh;
        margin: 1.75rem auto;
    }

    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 85% !important;
        margin: 0px auto !important;
        height: 90vh !important;
        pointer-events: auto;
        background-color: transparent !important;
        background-image: url(../assets/images/frame_modal.svg);
        background-size: cover !important;
        border: 0px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    &-header {
        display: block !important;
        align-items: center !important;
        justify-content: space-between;
        padding: 1rem 1rem;
        text-align: center;
        font-size: 18px !important;
        color: #fff;
        font-weight: 600 !important;
        letter-spacing: 1px;
        margin-top: 6% !important;
        border-bottom: 0px solid #dee2e6 !important;
        font-family: OptimusPrinceps !important;
    }

    & .close_btn {
        background-color: transparent;
        border: 0px solid #000;
        outline: none !important;
        position: absolute;
        right: 2.4%;
        top: 92px;
    }

    &-body {
        color: #fff;
        font-family: OptimusPrinceps !important;
        width: 97%;
        margin: 0px auto;
        margin-top: 3%;

        &-scroll {
            height: 355px;
            overflow: hidden;
            overflow-y: auto;
        }

        &-small_scroll {
            height: 290px;
            overflow: hidden;
            overflow-y: auto;
        }
    }

    &-footer {
        border: 0px solid black;
        border-top: 0px solid black;
    }
}

.inner-img {
    width: 150px;
    height: 150px;
}
