::-webkit-input-placeholder {
  color: white !important;
}

::placeholder {
  color: white !important;
}

.key-img {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
}


.input-container {
  width: 280px;
  height: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .label {
    background-image: url(../images/player_name_01.svg) !important;
    background-repeat: no-repeat !important;
    text-align: center;
    font-size: 15px;
    width: 80%;
    height: 40px;
    font-weight: bold;
    padding-top: 15px;
    font-family: OptimusPrinceps;
    background-size: cover;
    color: #120803;
  }
  
  
  & .input {
    width: 80%;
    font-family: 'Times New Roman', Times, serif !important;
    color: $white !important;
    background: url(../images/input_box_sign_in.svg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    font-size: 20px;
    height: 40px;
    background-color: transparent !important;
    border: 0px solid #fff !important;
    padding: 0 10px;
    margin-top: -8px;
    outline: none;
    box-shadow: none;

    &:active {
      outline: none;
      box-shadow: none;
      border: 0px solid transparent !important;
      border-color: transparent;
    }
  }

}


.form {
  &-gorup {
    & .label {
      background-image: url(../images/player_name_01.svg) !important;
      text-align: center;
      font-size: 12px;
      font-family: OptimusPrinceps;
      color: #120803 !important;
      background-repeat: no-repeat;
    }

    &img {
      width: 200px;
      height: auto;
    }
  }

  &-control {
    font-size: 13px !important;
    
    
    &-name {
      font-family: OptimusPrinceps !important;
      color: $white !important;
      background-size: cover !important;
      font-size: 13px;
      height: 30.5px;
      background-color: transparent !important;
      border: 0px solid #fff !important;
      background-repeat: no-repeat;
    }
  }

  &-control {
    font-size: 13px !important;

    &-large {
      font-family: OptimusPrinceps !important;
      color: $white !important;
      background: url(../images/input_large.png) !important;
      background-size: cover !important;
      font-size: 13px !important;
      width: 100% !important;
      height: 38px !important;
      background-color: #495057 !important;
      border: 0px solid #fff !important;
      background-repeat: no-repeat;
      border-radius: 10px !important;
    }
  }
}

input[type="file"]::file-selector-button {
  background-color: transparent !important;
  border: 0px solid #000 !important;
  color: #fff !important;
}
