.font {
    &-bold {
        font-weight: bold !important;

        &-500 {
            font-weight: 500 !important;
        }
    }
}

hr {
    background-color: #eaeaea !important;
}

.bdr {
    &-top {
        border-top: 1px solid #F1F4FE;
    }

    &-bottom {
        border-bottom: 1px solid #F1F4FE;
    }
}

.text {
    &-red {
        color: $primary-color !important;
    }

    &-blue {
        color: #0196FD !important;
    }

    &-green {
        color: #7BCE02 !important;
    }

    &-secondary {
        color: $secondary-color !important;
    }

    &-orange {
        color: $orange-light !important;
    }

    &-grey {
        color: $grey-darker !important;
    }

    &-black-sec {
        color: #120803 !important;
        font-weight: 700;
    }
}

.navigation {
    & .nav {
        width: 100%;
        border-bottom: 1px solid #F1F4FE;
        margin-bottom: 12px;

        &-item {
            min-width: 12%;
            display: inline-block;
            cursor: pointer;
            font-size: 13px;

            & a {
                color: #797884;
                font-size: 14px;
            }

            & :hover {
                color: #0196FD !important;
                font-weight: 600;
                border-bottom: 2px solid #0196FD !important;
            }

            & .active {
                color: #0196FD !important;
                font-weight: 600;
                border-bottom: 2px solid #0196FD !important;
            }
        }
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0196FD;
        background-color: transparent !important;
        border-color: transparent;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link:hover {
        color: #0196FD;
        background-color: transparent !important;
        border-color: transparent;
    }

    .nav-tabs .nav-link {
        margin-bottom: -1px;
        background: 0 0;
        border: 0px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .nav-link {
        display: block;
        padding: .5rem 1rem;
        color: #797884;
        width: 100%;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
}

.sele {
    & .css-g1d714-ValueContainer {
        height: 34px !important;
        line-height: 3 !important;
    }

    & .css-yk16xz-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer !important;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 36px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
    }

    & .css-tlfecz-indicatorContainer {
        color: hsl(0, 0%, 80%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 7px;
        -webkit-transition: color 150ms;
        transition: color 150ms;
        box-sizing: border-box;
    }

    & .css-1wa3eu0-placeholder {
        color: hsl(0, 0%, 50%);
        margin-left: 2px;
        margin-right: 2px;
        position: absolute;
        top: 52%;
        font-size: 14px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-sizing: border-box;
    }

    & .css-1rhbuit-multiValue {
        background-color: hsl(0, 0%, 90%);
        border-radius: 2px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: -3px;
        min-width: 0;
        box-sizing: border-box;
    }
}

.form_ctl {
    & .form-control {
        height: 32px !important;
    }
}

.pointer {
    cursor: pointer !important;
}

.return {
    width: 100%;
    display: block;

    &-profiletxt {
        display: inline-block;
        float: right;
        width: calc(100% - 40px);

        & span {
            font-size: 13px;
            font-weight: 600;
            color: #0196FD;
            padding-top: 6px;
            display: flow-root;
        }

        & p {
            font-size: 12px;
            color: #797884;
            text-align: left;
        }

    }

    &-profileimg {
        width: 40px;
        display: inline-block;
        float: left;

        & i {

            color: $primary-color !important;
            font-size: 38px;
        }
    }
}

.bg {
    &-white {
        background-color: $white !important;
    }

    &-red {
        background-color: $primary-color !important;
    }
}

.t_image {
    & img {
        top: -24%;
        left: 48%;
        position: relative;
    }

}

.td_align {
    padding-left: 7%;
    padding-top: 2.4%;
}

.active {
    background-color: $primary-color !important;
    color: $white !important;
    cursor: pointer;
    border: 1px solid $primary-color;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.select_item {
    top: 21px;
    position: relative;
}

.w {
    &-12 {
        width: 16px;
    }

    &-20 {
        width: 20px;
    }

    &-40 {
        width: 40px !important;
    }

    &-h-30 {
        width: 30px !important;
        height: 30px !important;
    }

    &-h-40 {
        width: 40px !important;
        height: 40px !important;
    }

    &-80p {
        width: 80% !important;
    }
}

.underline {
    color: $primary-color;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $primary-color;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: $primary-color;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primary-color !important;
    background-color: $primary-color !important;
}

input[type=checkbox]+label:before {
    content: '';
    width: 1rem;
    height: 1rem;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}


.form-check-input:checked {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    cursor: pointer;
}

.form-check-input:focus {
    border-color: #FFBCBF !important;
    outline: 0 !important;
    box-shadow: 0px 0px 2px 2px rgba(250, 81, 81, 0.69) !important;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(250, 81, 81, 0.69);
    -moz-box-shadow: 0px 0px 2px 2px rgba(250, 81, 81, 0.69);
}

textarea {
    width: 100% !important;
}

.head {
    &-text {
        display: inline-block;
        font-size: 14px;
        padding: 20px;

        & span {
            color: $primary-color;
            font-weight: 600;
            font-size: 14px;
        }
    }
}

.page {
    margin: 0px auto;
    padding: 0;

    &-link {
        position: relative;
        display: block;
        width: 30px;
        margin: 5px;
        padding: 0 !important;
        padding-top: 2px !important;
        // margin-top: 0;
        height: 30px;
        border-radius: 50% !important;
        text-align: center;
        background-color: #fff;
        border: 1px solid #dee2e6;
        color: $secondary-color;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &a {
            color: $secondary-color !important;
        }
    }

    &-item {
        &.active {
            z-index: 3;
            width: 30px;
            height: 30px;
            border-radius: 50% !important;
            color: #fff;
            margin: 5px;
            margin-left: 0px;
            text-align: center;
            background-color: $primary-color !important;
            border-color: $primary-color !important;

            & .page-link {
                z-index: 3;
                color: #fff;
                padding: 0 !important;
                margin-top: 0px;
                text-align: center;
                background-color: transparent !important;
                border-color: transparent !important;
            }
        }

        & a {
            color: $secondary-color !important;
        }

        &:first-child .page-link {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            margin-left: 0px;
        }
    }

}

.mt {
    &-n20 {
        margin-top: -20px !important;
    }
}

.text_parent {
    width: 150px;
    overflow: hidden;

    & .ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

.Tabs {
    & ul.nav {
        width: 50%;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0px solid #353c40 !important;
        border-radius: 5px;
    }

    & ul.nav li {
        width: 50%;
        padding: 0.5rem;
        list-style: none;
        text-align: center;
        background-color: $grey-ultralight;
        cursor: pointer;
        transition: all 0.7s;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: 500;
        font-size: 12px;
    }

    & ul.nav li:nth-child(2) {
        border-radius: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $grey-ultralight;
    }

    & ul.nav li:hover {
        background: $primary-color;
        color: $white;
    }
}

.outline {
    &-remove {
        & .form-control:focus {
            color: #212529;
            background-color: #fff;
            border-color: #ced4da !important;
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

.form-control:focus {
    outline: none !important;
}

.o {
    &-flow {
        overflow: hidden !important;
    }
}

.tree-view_children {
    margin-left: 16px;
    padding-left: 6%;

    &:first-child {
        margin-left: 10px;
        padding-left: 3%;
    }
}

.tree-view_item {
    height: 30px;
}

body {
    font-family: Helvetica, sans-serif;
}

.status {
    line-height: 52px;
}

.react-autosuggest__container {
    position: relative;
}


.disable-autosuggest__input {
    background-color: #e9ecef !important;
    cursor: not-allowed !important;
}

.react-autosuggest__input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 14px;
    border: 1px solid #ced4da !important;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-autosuggest__input:focus {
    outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 35px;
    height: 120px;
    overflow-y: auto;
    width: 220px;
    border: 1px solid #ced4da !important;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

.word {
    &-break {
        word-break: break-all !important;
    }
}

.round {
    &-card {
        border: 1px solid $grey-ultralight;
        padding: 2%;
        padding-top: 1%;
        border-radius: 30px;
        max-height: 500px;
        overflow-y: auto;
    }
}

.no_records {
    width: 100%;
    display: block;
    background-color: #fff7f8;
    height: 70px;
    text-align: center;

    & img {
        width: 40px;
        display: block;
        position: relative;
        left: 48.4%;
        text-align: center;
        padding-bottom: 0px !important;
    }

    & label {
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        padding-top: 5px !important;
        margin-top: 0px;

    }
}

.loading-indicator:after {
    content: 'Loading';
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    color: white;
    z-index: 9999 !important;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.loading-indicator::before {
    content: 'Loading';
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    color: white;
    z-index: 9999 !important;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.txt {
    &-overflow {
        & p {
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            & .overflow-ellipsis {
                text-overflow: ellipsis;
            }
        }

    }

    &-small {
        & p {
            width: 70%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            & .overflow-ellipsis {
                text-overflow: ellipsis;
            }
        }
    }
}

.cursor {
    cursor: pointer !important;
}

.coin_box {
    &-m {
        margin-top: -5px;
    }
}



/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    height: 70%;
    background: url('../images/journal.png') no-repeat !important;
    background-size: cover !important;
}


.ht_scroll {
    height: 36vh;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.w {
    &-pe {
        &-55 {
            width: 55.6% !important;
        }
    }

    &-progress {
        width: 80%;
    }
}

.progress {
    &-relative {
        position: relative;
        top: -24px;
    }
}

.pad {
    &-l {
        &-4 {
            padding-left: 4% !important;
        }

        &-5 {
            padding-left: 5% !important;
        }

        &-6 {
            padding-left: 6% !important;
        }

        &-7 {
            padding-left: 7% !important;
        }
    }

    &-r {
        &-4 {
            padding-right: 4% !important;
        }

        &-5 {
            padding-right: 5% !important;
        }

        &-6 {
            padding-right: 6% !important;
        }

        &-7 {
            padding-right: 7% !important;
        }
    }
}

.day {
    &-list {
        width: 80%;
        margin: 0 5%;
        display: grid;
        place-items: center;

        & ul {
            margin: 0;
            padding: 0;
            text-decoration: none;
            text-align: left;
            margin-top: 6px;
            width: 100%;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            height: 200px;
            overflow-y: scroll;
            margin-bottom: 10px;

            & li {
                text-decoration: none;
                list-style-type: none;
                background: -moz-linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(53, 48, 40) 65%, rgb(31, 29, 22) 113%);
                background: -webkit-linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(53, 48, 40) 65%, rgb(31, 29, 22) 113%);
                background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(53, 48, 40) 65%, rgb(31, 29, 22) 113%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#1f1d16", GradientType=1);
                border: 1px solid #564e46;
                background-size: cover;
                width: 70%;
                height: 90px;
                border-radius: 5px;
                text-align: center;
                display: grid;
                place-items: center;
                position: relative;
                background-size: cover;
                padding: 0 5px;

                & h5 {
                    font-size: 10px;
                    font-weight: 500;
                    color: white;
                    text-align: center;
                    margin-bottom: 0;
                    font-family: OptimusPrinceps;
                    margin-top: 3px;
                    margin-left: 10px;
                }

                & img {
                    width: 30px;
                }

                &:last-child {
                    margin-left: 0px !important;
                }

                & .num {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 30px;
                    width: 30px;
                    background-size: cover;
                    background-image: url('../images/crystal_blue.png');
                }

                & .title {
                    font-size: 11px;
                }

                & .footer {
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                }
            }

            & .day_selected {
                background: rgba(0, 250, 0, 0.29);
                & h5 {
                    color: #000;
                    font-weight: 900;
                }
            }

            & .grey_out {
                background-size: cover;
                position: relative;
                object-fit: cover;
                filter: blur(0.5px);
                width: 70%;
                height: 90px;
                padding: 0 5px;

                &::after {
                    content: "";
                    height: 40px;
                    width: 100%;
                    background-image: url('../images/Gtick.png');
                    object-fit: contain;
                    background-repeat: no-repeat;
                    z-index: 999;
                    position: absolute;
                    top: 30px;
                    left: 35px;
                }
            }

            & .bg_yellow {
                background: rgba(255, 250, 0, 0.19) !important;

                & h5 {
                    color: #000;
                    font-weight: 900;
                }
            }
        }

        & .frameImg {
            height: 50px;
            width: 50px;
        }
    }
}

.non_day {
    width: 100%;
    margin: 0;
    & ul {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-y: hidden;
    }

}



.blur_bg {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.btn {
    &-w125 {
        width: 125.6px !important;
    }

    &-h64 {
        height: 64px !important;
    }

    &-w85 {
        width: 85.6px !important;
    }

    &-h44 {
        height: 44px !important;
    }
}


.char {
    width: 100%;
    background-image: url(../images/queen.png);
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 100%;
    background-size: 23%;
    height: 56.9vh;
    font-family: OptimusPrinceps;
    text-align: center;
    // margin: 0px auto;
    z-index: 1000;

    // height: 278px;
    & .profile {
        & img {
            width: 100px;
        }

        &-selected {
            border-bottom: 2px solid green;
        }

        & h5 {
            font-size: 14px;
            color: white;
            line-height: 1.2;
            margin-bottom: 0;
        }
    }

    & p {
        color: white;
        font-size: 14px;
    }

    & .contex {
        width: 60%;
        margin: 0px auto;

        &-left {
            width: 50%;
            float: left;

            & h5 {
                margin-bottom: 0;
            }

            & label {
                margin-bottom: 0;
            }
        }

        &-right {
            width: 50%;
            float: right;
            // padding-left: 2%;

            & h5 {
                margin-bottom: 0;
            }

            & label {
                margin-bottom: 0;
            }
        }
    }

    & .crystal {
        width: 18px;
    }


}
